@font-face {
    font-family: "poppins";
    src: url("../font/Poppins-Regular.ttf");
}
@font-face {
    font-family: "roboto";
    src: url("../font/Roboto-Regular.ttf");
  }

* {
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

main{
  min-height: 100vh;
  background: #565a5c8f;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.438);
  display:flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.container {
  background: white;
  min-height: 80vh;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.438);
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3),
  );
  z-index: 2;
  backdrop-filter: blur(2rem);
  font-size: 1.5rem;
  display: flex;
  .form{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3),
    );
    .input-box {
      margin: 2rem 0;
    }
    .input-box span {
      font-size: 1.7rem;
      color:#221;
    }
    .input-box input,select {
      font-size: 1.5rem;
      color: #444;
      border-radius: 0.5rem;
      padding: 1rem;
      background: #f7fcff;
      width: 100%;
      text-transform: none;
      margin: 0.5rem 0;
    }
  }
  .list{
    padding-top: 5%;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .list-items{
      background: #565a5c33;
      border-radius: 1rem;
      margin: 2rem 0rem;
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      width: 80%;
      .items-btn div{
        height: 4.5rem;
        width: 3.5rem;
        line-height: 4.5rem;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        color: #fff;
        border-radius:  1rem  1rem  1rem  0;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.38);
        :hover{
          background-color: #444;
        }
      }
      .items-btn #edit-btn{
        background: #237;
      }
      .items-btn #delete-btn{
        background: rgb(145, 9, 31);
      }
      .items-btn div:hover{
        opacity: .65;
      }
    }
  }
}

.circle1,
.circle2 {
  background: #fff;
  background: linear-gradient(
    to right bottom,
    rgba(206, 94, 3, 0.9),
    rgba(206, 94, 3, 0.1)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}
.circle1{
  top: 5%;
  right: 5%;
}

.circle2{
  bottom: 5%;
  left: 5%;
}


  
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #f07f4b;
    border-radius:  1rem  1rem  1rem  0;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.38);
}
  
.btn:hover {
  background: #f59366;
  letter-spacing: 0.05rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 0rem;
}
  
html::-webkit-scrollbar-track {
    background: transparent;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(85deg, #353535 15%, #6e6e6e 35%,)transparent;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.438);
    padding: 2.5rem 10%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        font-size: 2.25rem;
        font-family: poppins;
        font-weight: bolder;
        text-shadow: 2px 1px 3px rgb(0, 0, 0);
        a{
            color: #eee;
            span{
                font-size: 3.5rem;
                color: #f07f4b;
                font-family: roboto;
                letter-spacing: .25rem;
              
            }
            span::before {
              position: absolute;
              content: "?";
              font-size: 2rem;
              align-self: center;
              color: #eee;
            }
        }
    }
    .navbar {
        position: absolute;
        top: 115%;
        right: 10%;
        background: #565a5c8f;
        border-radius: 1rem 1rem 1rem 0 ;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.438);
        width: 25rem;
        transform: scale(0);
        transform-origin: top right;
        padding: 1.5rem;
    }
    .navbar.active {
        transform: scale(1);
      }

    .navbar a {
        display: block;
        margin: .5rem;
        padding: 1rem;
        font-size: 1.5rem;
        color: #fff;
        border-radius: 1rem 1rem  1rem 0;
        background: #888;
    } 
    .navbar a:hover {
        color: #eee;
        background: #f07f4b;
        padding-left: 2rem;
      }

    .login-form {
        position: absolute;
        top: 115%;
        right: 10%;
        background: #565a5c8f;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.438);
        width: 35rem;
        padding: 2rem;
        transform: scale(0);
        transform-origin: top right;
      }
      .login-form.active {
        transform: scale(1);
      }
      .login-form .input-box {
        margin-bottom: 1rem;
      }
      
      .login-form .input-box span {
        font-size: 1.7rem;
        color:#221;
      }
      
      .login-form .input-box input {
        font-size: 1.5rem;
        color: #444;
        border-radius: 0.5rem;
        padding: 1rem;
        background: #E6E8E9;
        width: 100%;
        text-transform: none;
        margin: 0.5rem 0;
      }
      
      .login-form .signup {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0;
      }
      
      
      
     .login-form .signup {
          p{
              color: #444;
              font-size: 1.5rem;
              a{
                color: #f07f4b ;
                cursor: pointer;
                text-shadow: 1px 1px 2px rgb(46, 49, 53);
                }
                a:hover{
                    color: #f59366;
                }
          }
      
      }
      .login-form .btn {
        width: 100%;
      }

      .icons div {
        height: 4.5rem;
        width: 3.5rem;
        line-height: 4.5rem;
        font-size: 2.5rem;
        background-color: #666;
        margin-left: 1.5rem;
        color: #fff;
        border-radius:  1rem  1rem  1rem  0;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.38);
      }
      
      .icons div:hover {
        color: #eee;
        background: #444;
      }
  }

@media (min-width: 1280px) {
    .box-container{
        margin: 3.5rem 10%;   
    }
}

  
@media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  
    .header {
      padding: 1.5rem rem;
    }
    // .container{
    //   flex-direction: column;
    //   .input-box input,select {
    //     font-size: 1.5rem;
    //     color: #444;
    //     border-radius: 0.5rem;
    //     width: 50%;
    //   }
}

  
@media (max-width: 768px) {
    .header .navbar {
      right: 2rem;
    }
  
    .header .login-form {
      right: 2rem;
    }
  
  }
  
  @media (max-width: 480px) {
    html {
      font-size: 50%;
    }
  }
  